.App {
margin:1%
}

ul{
  padding: 0;
  list-style-type: none;
  cursor: pointer;
}
ol{
  padding: 0;

}
li:hover{
  color:rgb(14, 216, 115)
}
li{
  margin: 2%;
}

.Link{
  color:blue;
  text-decoration: underline;
}